<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/bootstrap.php">
    <logging>
        <log type="coverage-html" target="tests/coverage"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Mailer Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
